# executables
*/count
*/perc
*/verg
*/interp
*/vc

# objects and backups
*.o
*~
*#*

# vergini output
t.*
*.sta_bin
*.cf
*.sum

# data, log, etc files
*.dat
*.err
*.out
*.log

# compiled latex
*.dvi
*.aux
*.bbl
*.blg

# condor submit files
*.submit